node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# custom

data/*
!data/.gitkeep
.tmp
*.log

assets/fonts/*
!assets/fonts/.gitkeep

web/fonts/*
!web/fonts/.gitkeep

web-server

.env

graphql.schema.json
