node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# custom

db_data
.tmp
*.log

assets/fonts/*
!assets/fonts/.gitkeep

web/fonts/*
!web/fonts/.gitkeep
